.page {
    background-image: url(../Common/bg.png);
  }
.collect {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title text {
    font-size: 64px;
    font-weight: bold;
    color: #000;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    flex: 1;
    margin-bottom: 80px;
}

.list__item {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 8px;
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.list__item__index {
    color: #EA2734;
    font-size: 42px;
    font-weight: bold;
    margin-right: 20px;
}

.list__item__text {
    flex: 1;
    color: #000;
}
.add-collect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.add-collect image {
    width: 300px;
    height: 300px;
}

.tab-bar {
    background-color: #fff;
}

.tab-bar text {
    color: #000;
}
.tab-bar .active {
    color: #EA2734;
}